* {
    margin: 0;
    padding: 0;
}

.search__form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.color {
    width: 80px;
    height: 200px;
    display: inline-block;
}