* {
    margin: 0;
    padding: 0;
}

.search__form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.color {
    width: 100px;
    height: 250px;
    margin-left: 20px;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 10px;
    overflow: auto;
}